.card {
  border-radius: 1rem;
  background-color: #fff;
  padding: 1rem;
  height: 100%;
}

.cardsecondary {
  border-radius: 1rem;
  background-color: #EDF2FA;
  padding: 1rem;
  height: 100%;
}
